html {
  background-color: #d7daf5;
}

.App {
  background-color: #b19cd9;
  min-height: 650px;
  width: 650px;
  margin:40px auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.top h1 {
  text-align: center;
  font-size: 40px;
  background-color: #d7daf5;
  padding-bottom: 20px;
}

#to-do-form input {
  background-color: #dff7f5;
  border:none;
  width: 470px;
  height:70px;
  margin: 20px;
  border-radius: 10px;
  padding: 0 20px;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
}
#to-do-form button {
  background-color: #8565c4;
  width: 80px;
  height:70px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#to-do-form input::placeholder {
  color: #B0B0B0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
}

#to-do-form input:focus {
  outline:none;
}
#to-do-form button:focus {
  outline:none;
}
